﻿<%@ Page Title="Contact" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="BADinner.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %></h2>
    <h3>Blake Holman</h3>


    <address>
        <strong>Support:</strong>   <a href="mailto:jimmy.voegele@gmail.com">Support@example.com</a>
    </address>
</asp:Content>
