﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="BADinner.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head align="left" runat="server" >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title style="color:#0000FF"><%: Page.Title %></title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
    <form runat="server" >
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:white;padding-left: 5px; padding-right: 5px; padding-top: 5px">

            <div style="padding-left:25px;padding-right:100px">

                <div class="navbar-header" style="color:#0000FF">
                    <asp:Image ID="Image1" ImageUrl="~/Content/CapitalGrilleLogo.jpg" runat="server" Height="40px" Width="185px" />
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a runat="server" href="~/" style="color:#0091ba;font-size:200%;">Home</a></li>
                        <li><a runat="server" href="~/Contact" style="color:#0091ba;font-size:200%;">Contact Us</a></li>
<%--                        <li><a runat="server" href="~/Admin" style="color:#0091ba;font-size:200%;">Admin</a></li>--%>
                    </ul>
                </div>
                </div>
            </div>

        <div class="container:body-content">
            <div class="jumbotron">
                <h1 style="text-align: center"><img alt="" src="/Content/CapityalGrilleLogo.jpg" id="logosize1"/>
                    <img alt="" src="/Content/toastskyline.png" id="logosize2"/></h1>
            </div>
            <div style="padding-left:30px">
                <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
            </div>
            <hr />
        </div>
    </form>
</body>
</html>
